@model Corporation.Web.Controllers.AccountController.RoleWebModel
@{
    ViewBag.Title = "Удаление роли";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_AccountLeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>

            <div class="border-1 shadow rounded bg-light p-2">
                <h3>Действительно удалить роль с описанием @Model.RoleName, системное имя: @Model.Name?</h3>

                @Html.HiddenFor(Model => Model.Id)

                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.RoleName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.RoleName)
                    </dd>
                </dl>

                <div class="form-group my-2">
                    <form asp-controller="Workers" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
                        <input type="submit" value="Подтвердить удаление сотрудника" class="btn btn-danger" />
                        <a asp-controller="Account" asp-action="RoleList" class="btn btn-secondary">Назад</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
