@model IEnumerable<Corporation.Web.Controllers.UserController.UserWebModel>
@{
    ViewBag.Title = "Список пользователей системы";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_AccountLeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>
            <div class="table-responsive border-1 shadow rounded bg-light p-2">
                <div class="my-2">
                    <a href="#" class="btn btn-success">Создать нового пользователя</a>
                </div>
                <table class="table my-2 table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Логин</th>
                        <th>Почта</th>
                        <th>Возраст</th>
                        <th>Отдел</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="9" class="text-center">Нет пользователей в системе</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.SurName</td>
                                <td>@role.FirstName</td>
                                <td>@role.Patronymic</td>
                                <td>@role.UserName</td>
                                <td>@role.Email</td>
                                <td>@role.Age</td>
                                <td>@role.Department</td>
                                <td class="text-center">
                                    <a href="#"
                                       class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Редактировать</a>
                                    <a href="#"
                                       class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

