@page "/online"
@inherits OwningComponentBase<CorporationContext>

<PageTitle>Главная</PageTitle>

<div class="row">
    <div class="col-md-3 col-lg-2 mb-2">
        <nav class="flex-column">
            <_LeftSidebarPartial />
        </nav>
    </div>
    <div class="col-md-7 col-lg-10">
        <div class="border-1 shadow rounded bg-light p-1">

            <h1 class="my-2 p-2 bg-dark text-white"><span class="fa fa-home" aria-hidden="true"></span> Корпорация</h1>

            <p>Информация по корпорации.</p>
    
            <h6>Завод 1</h6>
            <p class="m-0">Содержимое склада сырья:
                @if (Com1Warehouse1ShiftData is null)
                {
                    <apsn>Данные отсутствуют</apsn>
                }
                else
                {
                    <span><strong>@Com1Warehouse1ShiftData.Com1Tank1LooseRaw.Name : @Com1Warehouse1ShiftData.Com1Tank1LooseRawValue м3, @Com1Warehouse1ShiftData.Com1Tank2LooseRaw.Name : @Com1Warehouse1ShiftData.Com1Tank2LooseRawValue м3</strong></span>
                }
            </p>
            <p class="mt-2">Последние данные по производству:</p>
            <p class="m-0">
                @if (Com1Press1ShiftData is null)
                {
                    <apsn> Данные по прессованию отсутствуют</apsn>
                }
                else
                {
                    <span> Напрессовано за смену: <strong>@Com1Press1ShiftData.Com1ProductType.Name - @Com1Press1ShiftData.Com1ProductTypeCount шт.</strong></span>
                }
            </p>
            <p class="m-0">
                @if (Com1Autoclaves1ShiftData is null)
                {
                    <span> Данные по автоклавированию отсутствуют</span>
                }
                else
                {
                    <span> Автоклавировано за смену: <strong>@Com1Autoclaves1ShiftData.Com1Autoclave.Name - @Com1Autoclaves1ShiftData.AutoclavedCount шт.</strong></span>
                }
            </p>
            <p class="m-0">
                @if (Com1Packing1ShiftData is null)
                {
                    <span> Данные по упаковке отсутствуют</span>
                }
                else
                {
                    <span> Упаковано за смену: <strong>@Com1Packing1ShiftData.Com1Pack.Name - @Com1Packing1ShiftData.Com1PackCount шт.</strong></span>
                }
            </p>
            <p class="mt-2">Содержимое склада продукции:
                @if (Com1Warehouse2ShiftData is null)
                {
                    <apsn>Данные отсутствуют</apsn>
                }
                else
                {
                    <span><strong>@Com1Warehouse2ShiftData.Com1Pack.Name : @Com1Warehouse2ShiftData.Com1PackValue шт.</strong></span>
                }
            </p>

        </div>
    </div>
</div>


@code {
    CorporationContext _Context => Service;
    public Com1Warehouse1ShiftData? Com1Warehouse1ShiftData { get; set; }
    public Com1Press1ShiftData? Com1Press1ShiftData { get; set; }
    public Com1Autoclaves1ShiftData? Com1Autoclaves1ShiftData { get; set; }
    public Com1Packing1ShiftData? Com1Packing1ShiftData { get; set; }
    public Com1Warehouse2ShiftData? Com1Warehouse2ShiftData { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Com1Warehouse1ShiftData = await _Context.Com1Warehouse1ShiftDatas
            .Include(i => i.Com1Tank1LooseRaw)
            .Include(i => i.Com1Tank2LooseRaw)
            .OrderByDescending(i => i.Time).FirstOrDefaultAsync();
        Com1Press1ShiftData = await _Context.Com1Press1ShiftDatas
            .Include(i => i.Com1ProductType)
            .OrderByDescending(i => i.Time).FirstOrDefaultAsync();
        Com1Autoclaves1ShiftData = await _Context.Com1Autoclaves1ShiftDatas
            .Include(i => i.Com1Autoclave)
            .OrderByDescending(i => i.Time).FirstOrDefaultAsync();
        Com1Packing1ShiftData = await _Context.Com1Packing1ShiftDatas
            .Include(i => i.Com1Pack)
            .OrderByDescending(i => i.Time).FirstOrDefaultAsync();
        Com1Warehouse2ShiftData = await _Context.Com1Warehouse2ShiftDatas
            .Include(i => i.Com1Pack)
            .OrderByDescending(i => i.Time).FirstOrDefaultAsync();
    }
}
